.button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.2s;
  color: var(--foreground);

  &:active:not(:disabled) {
    color: var(--foreground-light);
  }

  &:not(:active, :disabled):hover {
    border-radius: 0.15rem;
    box-shadow: 0 0 0 0.15rem var(--foreground-dark);
    background-color: var(--foreground-dark);
    color: var(--foreground-light);
  }
}
