.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border-bottom: 1px solid var(--border);
  background: var(--background);
}

.logo {
  font-size: 1.4rem;
  color: var(--foreground-turquoise);
}

.heading {
  color: var(--foreground-light);
  font-size: 0.8rem;
  background-color: var(--background-light);
  border: 1px solid var(--border-light);
  border-radius: 0.3rem;
  padding: 0.1rem 6%;
  margin: auto;
  font-weight: 400;
}
