.wrap {
  height: var(--tabs-height);
  width: 100%;
  overflow-x: auto;
  font-size: 0.9rem;
}

.tabs,
.tab {
  display: flex;
  height: 100%;
}

.tab {
  padding: 0 0.6rem;
  align-items: center;
}

.pinned {
  border-right: 1px solid var(--border-light);
}
