.sidebar {
  grid-area: aside;
  display: flex;
  position: relative;
}

.sidebar,
.altWrap,
.explorer {
  background: var(--background);
}

.altWrap {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
}

.alt {
  padding: 0.75rem;
  cursor: pointer;

  &,
  svg {
    transition: all 0.2s;
  }

  svg {
    display: block;
    font-size: 1.5rem;
    color: var(--foreground);
  }

  &.active {
    box-shadow: inset 1.5px 0 0 var(--active);
  }

  &.active,
  &:hover {
    svg {
      color: var(--foreground-light);
    }
  }
}

.explorer {
  padding: 0.6rem 0;
  transform: scale(0, 1);
  transform-origin: 0 50%;
  transition: all 0.2s;

  &.expanded {
    width: 12rem;
    padding: 0.6rem 0.8rem;
    transform: scale(1);
    border-right: 1px solid var(--border);
  }

  @media screen and (width <= 1024px) {
    & {
      position: absolute;
      top: 0;
      left: calc(100% + 1px); /* 1px is a border width */
      bottom: 0;
    }
  }
}
