.iconLabel {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--foreground);
  text-decoration: none;

  &.clickable {
    cursor: pointer;

    &:hover {
      color: var(--foreground-light);
    }
  }
}

.medium {
  padding: 0.15rem 0;
}

.large {
  padding: 0.5rem 0.6rem;
}
