.active {
  color: var(--active);

  &:not(.underlined) {
    background-color: var(--background-dark);
    box-shadow:
      0.8rem 0 0 var(--background-dark),
      calc(-0.2rem + -0.3rem + -0.8rem + -1px) 0 0 var(--background-dark);
  }

  &.underlined {
    box-shadow: inset 0 -1.5px 0 var(--active);
  }
}

.outlined {
  padding: 0 0.5rem;
  box-shadow: inset 0 0 0 1px var(--accent);
  color: var(--accent);

  &:hover {
    box-shadow: inset 0 0 0 1px var(--foreground-light);
  }
}
