.link {
  text-decoration: none;
  color: var(--foreground);

  &:hover,
  &:focus {
    color: var(--foreground-light);
  }
}

.active {
  color: var(--foreground-turquoise);
  cursor: default;

  &:hover {
    color: var(--foreground-turquoise);
  }

  &:not(.underlined) {
    background-color: var(--background-dark);
    box-shadow:
      0.8rem 0 0 var(--background-dark),
      calc(-0.2rem + -0.3rem + -0.8rem + -1px) 0 0 var(--background-dark);
  }

  &.underlined {
    box-shadow: inset 0 -1.5px 0 var(--foreground-turquoise);
  }
}

.outlined {
  padding: 0 1rem;
  box-shadow: inset 0 0 0 1px var(--foreground-yellow);
  color: var(--foreground-yellow);

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 1px var(--foreground-light);
  }
}
