.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
}

.button {
  margin-left: auto;
}

.row {
  position: relative;
  margin-bottom: var(--row-height);
  transition: all 0.2s;

  &.error {
    background-color: var(--background-red);
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--row-height);
  align-items: flex-start;
  justify-content: flex-end;
}

.recaptchaWrap {
  position: relative;
}

.recaptcha {
  position: relative;
  box-shadow: 0 0 0 1px var(--border-light);
  border-radius: 0.15rem;
  overflow: hidden;
  width: 298px;
  height: 73px;

  & > div {
    position: relative;
    left: -2px;
    top: -2px;
  }
}

@media screen and (width <=400px) {
  .recaptcha {
    width: 220px;
    height: 53px;

    & > div {
      transform: scale(0.74);
      transform-origin: 0 0;
    }
  }
}

@media screen and (width >=768px) {
  .row {
    display: flex;
    flex-direction: row-reverse;
  }

  .label {
    width: 40%;
    padding-left: 0.5rem;
  }

  .input {
    width: 60%;
  }

  .button {
    margin-right: 40%;
  }
}
