.heading {
  font-size: 1rem;
  font-weight: 400;
  color: var(--foreground-blue);

  &::after {
    content: ":\00a0";
    color: var(--foreground-light);
  }
}

.withBracket {
  display: flex;

  &::before {
    content: "[";
    color: var(--foreground-purple);
    order: 1;
  }
}
