.textarea {
  display: block;
  padding: 0 0.5rem;
  border-radius: 0.15rem;
  font-size: 0.9rem;
  font-family: inherit;
  background-color: var(--background-light);
  outline: none;

  /* If use border instead of box-shadow calculation with [- 2px] it doesn't work well */
  border: none;
  box-shadow: inset 0 0 0 1px var(--border-light);
  line-height: calc(var(--size) * var(--line-height));
}
