.action {
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  transition: all 0.2s;
  text-align: center;
  display: block;
  color: var(--foreground);

  &.active,
  &.disabled {
    cursor: default;
  }

  &.active {
    color: var(--foreground-turquoise);
  }

  &:not(.disabled, .active):hover {
    color: var(--foreground-light);
  }
}

.shaded {
  &:not(.disabled):hover {
    border-radius: 0.15rem;
    box-shadow: 0 0 0 0.15rem var(--foreground-dark);
    background-color: var(--foreground-dark);
  }
}

.outlined {
  padding: 0 1rem;
  box-shadow: inset 0 0 0 1px var(--foreground-yellow);
  color: var(--foreground-yellow);
  text-transform: uppercase;

  &:not(.disabled):hover {
    box-shadow: inset 0 0 0 1px var(--foreground-light);
  }

  &.disabled {
    color: var(--foreground);
    box-shadow: inset 0 0 0 1px var(--foreground);
  }
}

.underlined {
  &.active {
    box-shadow: inset 0 -1.5px 0 var(--foreground-turquoise);
  }
}
