.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &::before {
    content: ";";
    order: 1;
  }

  &::after {
    color: #c586a1;
    content: "]";
  }
}

.item {
  width: 100%;
  margin-left: 1rem;
  color: var(--foreground-carroty);
}

.withComma::after {
  content: ",\00a0";
  color: var(--foreground-light);
}
