.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 1rem;

  &::after {
    content: ';';
  }
}

.prefix,
.suffix {
  color: #c586a1;
}

.item {
  color: var(--foreground-carroty);
}