.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  box-shadow: inset 1px 0 0 var(--border-light);

  &::before {
    content: ";";
    order: 1;
  }

  &::after {
    color: #c586a1;
    content: "]";
    background-color: var(--background-light);
  }
}

.item {
  width: 100%;
  margin-left: 1rem;
  color: var(--foreground-carroty);
}

.withComma::after {
  content: ",\00a0";
  color: var(--foreground-light);
}
