.footer {
  padding: 0.15rem 0.6rem;
  grid-area: footer;
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--border);
  z-index: var(--z-layout);
  background-color: var(--background);
  color: var(--foreground);
  font-size: 0.8rem;
  line-height: 0.8rem;
  gap: 1rem;
}

.links {
  margin-left: auto;
  padding: 0 0.5rem;
}

@media screen and (width <=600px) {
  .decor {
    display: none;
  }
}
