.input {
  width: 100%;
  height: var(--row-height);
  padding: 0 0.5rem;
  border: 1px solid var(--border-light);
  border-radius: 0.15rem;
  font-size: 0.9rem;
  line-height: inherit;
  font-family: inherit;
  background-color: var(--background-light);
  outline: none;
}
