:root {
  --size: 16px;
  --line-height: 1.375;
  --header-height: calc(2.2rem + 1px);
  --tabs-height: 2.25rem;
  --footer-height: calc(1.5rem + 1px);
  --sidebar-width: 3rem;
  --row-height: calc(var(--size) * var(--line-height));
  --content-height: calc(
    100vh - var(--header-height) - var(--tabs-height) - var(--footer-height)
  );
  --z-layout: 666;
  --z-notif: 1488;
  --border: #00000060;
  --border-light: #4a4a4a;
  --background: #1a1a1a;
  --background-light: #212121;
  --background-dark: #00000030;
  --background-red: #4d1a1a;
  --background-green: #c3e88d90;
  --foreground: #848484;
  --foreground-dark: #61616150;
  --foreground-light: #eff;
  --foreground-carroty: #ce9178;
  --foreground-green: #c3e88d90;
  --foreground-yellow: #dcdcaa;
  --foreground-turquoise: #80cbc4;
  --foreground-blue: #9cdcfe;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --border: #00000060;
    --border-light: #4a4a4a;
    --background: #1a1a1a;
    --background-light: #212121;
    --background-dark: #00000030;
    --foreground: #848484;
    --foreground-dark: #61616160;
    --foreground-light: #eff;
    --foreground-turquoise: #80cbc4;
  }
} */

html {
  /* TODO: for mob 14px */
  font-size: var(--size);
  line-height: var(--line-height);
}

html,
body {
  max-width: 100vw;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template:
    "header header" var(--header-height)
    "progress progress" auto "aside main" calc(
      100vh - var(--header-height) - var(--footer-height)
    )
    "footer footer" var(--footer-height) / auto 1fr;
  color: var(--foreground-light);
  background: var(--background-light);
  font-family: var(--font-inconsolata), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  grid-area: main;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline;
  text-underline-position: under;
  transition: color 0.2s;
  cursor: pointer;
  color: var(--foreground-carroty);

  &:hover {
    color: var(--foreground-light);
  }
}

svg {
  display: block;
  pointer-events: none;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 1rem;
}

section:not(:last-child) {
  margin-bottom: var(--row-height);
}

#react-tiny-toast-main-container {
  position: fixed;
  width: 100%;
  z-index: var(--z-notif);
}

.toast-item {
  margin-top: 5vh;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px 0 var(--border);
  border-radius: 0.15rem;
  animation-duration: 0.2s;
  text-transform: uppercase;
  filter: saturate(2);

  &.toast-item-success {
    background-color: var(--background-green);
  }

  &.toast-item-danger {
    background-color: var(--background-red);
  }
}

@media screen and (width <=1024px) {
  :root {
    --size: 18px;
    --sidebar-width: 2.5rem;
  }

  body {
    grid-template:
      "header header" var(--header-height)
      "progress progress" auto "aside main" calc(
        100vh - var(--header-height) - var(--footer-height)
      )
      "footer footer" var(--footer-height) / var(--sidebar-width) calc(
        100vw - var(--sidebar-width)
      );
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
