.wrap {
  display: flex;
  align-items: flex-start;
}

.list {
  min-width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  min-width: 1rem;
  text-align: right;
  color: var(--foreground-dark);
  line-height: var(--row-height);
}

.content {
  padding-right: 1rem;
  flex: 1;
}

@media screen and (width <=1024px) {
  .list {
    min-width: 2rem;
  }

  .number {
    font-size: 0.8rem;
    min-width: 0.8rem;
  }
}
